<%- include('../partials/header', { user }) %>

<div>
    <% villagers.forEach(function(villager) { %>
        <div>
            <img src="<%= villager.image_uri %>"/> 
        </div>
        <a href="villagers/<%= villager.id %>"><%= villager.name['name-USen'] %></a>
    <% }) %>
</div>

<%- include('../partials/footer') %>