<%- include('../partials/header', { user }) %>

<p class="d-flex justify-content-center">All Villagers</p>

<div class="container">
    <div class="row gy-3">
        <% villagers.forEach(function(villager) { %>
            <div class="col gx-5">
                <img src="<%= villager.icon_uri %>"/> 
                <div class="row justify-content-evenly">
                    <a href="villagers/<%= villager.id %>" class="btn btn-primary"><%= villager.name['name-USen'] %></a>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>