<%- include('../partials/header', { user }) %>

<div>
    <% villager.forEach(function(villagers) { %>
        <a href="villagers/<%= villagers.id %>"><%= villagers.name['name-USen'] %></a>
        <div>
            <img src="https://acnhapi.com/v1a/image/villagers/<%= villagers.id %>"/> 
        </div>
    <% }) %>
</div>

<%- include('../partials/footer') %>