<%- include('../partials/header', { user }) %>

<h1><%= villagers.name['name-USen'] %></h1>

<img src="<%= villagers.image_uri %>"/>
<div>
    <p>Personality: <%= villagers.personality %></p>
    <p>Birthday: <%= villagers['birthday-string'] %></p>
    <p>Species: <%= villagers.species %></p>
    <p>Gender: <%= villagers.gender %></p>
    <p>Hobby: <%= villagers.hobby %></p>
    <p>Catch-Phrase: <%= villagers['catch-phrase'] %></p>
</div>

<form method="POST" action="/users/profile/villagers">
    <input hidden type="text" name="userId" value="<%= user.id %>"/>
    <input hidden type="text" name="villagerId" value="<%= villagers.id %>"/>
    <input hidden type="text" name="name" value="<%= villagers.name['name-USen'] %>"/>
    <input hidden type="text" name="personality" value="<%= villagers.name['name-USen'] %>"/>
    <input hidden type="text" name="imgUrl" value="<%= villagers.image_uri %>"/>
    <input hidden type="text" name="birthday" value="<%= villagers['birthday-string'] %>"/>
    <input hidden type="text" name="species" value="<%= villagers.species %>"/>
    <input hidden type="text" name="gender" value="<%= villagers.gender %>"/>
    <input hidden type="text" name="hobby" value="<%= villagers.hobby %>"/>
    <input hidden type="text" name="catch_phrase" value="<%= villagers['catch-phrase'] %>"/>
    
    <button type="submit">Add to Favorites</button>
</form>

<h2>Comments</h2>

<form method="POST" action="/villagers/<%= villagers.id %>">
    <input id="comment" type="text" name="comment" placeholder="Leave your thoughts about this villager!">
    <input hidden type="text" name="userId" value="<%= user.id %>" />
    <input hidden type="text" name="villagerId" value="<%= villagers.id %>" />

    <button type="sumbit">Submit</button>
</form>

<div>
    <div>
        <% comments.forEach(function(all) { %>
            <p><%= all.comment %></p>
            <p>user comment id <%= all.userId %></p>
            <p>current user <%= user.id %></p>
            <% if (all.userId === user.id) { %>
                <p>id match</p>
                <form method="GET" action="/villagers/<%= all.id %>/edit">
                    <button type="submit">Edit</button>
                </form>
                <form method="POST" action="/villagers/<%= all.id %>/?_method=DELETE">
                    <button type="submit">Delete Comment</button>
                </form>
            <% } else { %>
                <p>id no match</p>
            <% } %>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>