<%- include('../partials/header', { user }) %>

<h1><%= villager.name['name-USen'] %></h1>

<img src="https://acnhapi.com/v1a/image/villagers/<%= villager.id %>"/>
<div>
    <p>Personality: <%= villager.personality %></p>
    <p>Birthday: <%= villager['birthday-string'] %></p>
    <p>Species: <%= villager.species %></p>
    <p>Gender: <%= villager.gender %></p>
    <p>Hobby: <%= villager.hobby %></p>
    <p>Catch-Phrase: <%= villager['catch-phrase'] %></p>
</div>

<form method="POST" action="/profile/villagers">
    <input hidden type="text" name="name" value="<%= villager.name['name-USen'] %>"/>
    <input hidden type="text" name="userId" value="<%= user.id %>"/>
    <input hidden type="text" name="villagerId" value="<%= villager.id %>"/>
    <input hidden type="text" name="imgUrl" value="<%= villager.image_uri %>"/>

    <button type="submit">Add to Favorites</button>
</form>

<%- include('../partials/footer') %>