<%- include('../partials/header', { user }) %>

<h1><%= villagers.name['name-USen'] %></h1>

<img src="<%= villagers.image_uri %>"/>
<div>
    <p>Personality: <%= villagers.personality %></p>
    <p>Birthday: <%= villagers['birthday-string'] %></p>
    <p>Species: <%= villagers.species %></p>
    <p>Gender: <%= villagers.gender %></p>
    <p>Hobby: <%= villagers.hobby %></p>
    <p>Catch-Phrase: <%= villagers['catch-phrase'] %></p>
</div>

<form method="POST" action="/profile/villagers">

    <input  type="text" name="villagerId" value="<%= villagers.id %>"/>
    <input  type="text" name="name" value="<%= villagers.name['name-USen'] %>"/>
    <input  type="text" name="imgUrl" value="<%= villagers.image_uri %>"/>
    <input  type="text" name="birthday-string" value="<%= villagers['birthday-string'] %>"/>
    <input  type="text" name="species" value="<%= villagers.species %>"/>
    <input  type="text" name="gender" value="<%= villagers.gender %>"/>
    <input  type="text" name="hobby" value="<%= villagers.hobby %>"/>
    <input  type="text" name="catch_phrase" value="<%= villagers['catch-phrase'] %>"/>
    
    <button type="submit">Add to Favorites</button>
</form>

<%- include('../partials/footer') %>