<%- include('../partials/header', { user }) %>

<h2>Edit Comment</h2>

<form method="POST" action="/villagers/<%= comment.id %>/edit?_method=PUT">
    <input hidden type="text" name="userId" value="<%= comment.userId %>"/>
    <input hidden type="text" name="villagerId" value="<%= comment.villagerId %>"/>
    <input type="text" name="comment" value="<%= comment.comment %>"/>

    <button type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>