<%- include('../partials/header', { user }) %>

<h1>Here are your favorite villagers!</h1>


<div class="container">
    <div class="row">
        <% villagers.forEach(function(villager) { %>
            <% if (user.id === villager.userId) { %>
                <div class="card" class="col" style="width: 18rem;">
                    <img src="<%= villager.imgUrl %>" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title"><%= villager.name %></h5>
                    <p class="card-text">"<%= villager.catch_phrase %>"</p>
                    <p class="card-text"><%= villager.name %> is a <%= villager.species %> and was born in <%= villager.birthday %>. Often <%= villager.personality %> and is into <%= villager.hobby %></p>
                    </div>
                    <div class="card-body">
                        <a href="/villagers/<%= villager.villagerId %>" class="card-link">Click here to find more about <%= villager.name %></a>
                        <form method="POST" action="villagers/<%= villager.id %>/?_method=DELETE">
                            <button type="submit">Delete from Favorite</button>
                        </form>
                    </div>
                </div>
            <% } %>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>