<%- include('../partials/header', { user }) %>

<h1>Here are your favorit villagers!</h1>

<% villagers.forEach(function(villager) { %>
    <div>
        <img src="<%= villager.imgUrl %>"/>
    </div>
    <p><%= villager.name %></p>
    <form method="POST" action="/users/villagers/" + <%= villager.id %>>/?_method=DELETE
        <button type="submit">Delete</button>
    </form>
<% }) %>

<%- include('../partials/footer') %>